body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    width: 100%;
    margin: auto;
}

.main {
    background-color: whitesmoke;
    display: flex; 

} 

.side {
    flex: 1 1 0%;
}

.middle {
    width: 80vw;
}

.header {
    padding: 10px;
    display: flex;
}

.header div{
    flex: 1 1 0%;
}

.button {
    background-color: #a9dce3;
    border: 2px solid #7689de;
    border-radius: 10px;
    color: #55629e;
    padding: 8px;
    text-align: center;   
    font-family: sans-serif;
    font-weight: 800; 
}

.sketch{
    border-color: 1px #7689de;
    flex: 1 0 auto;
}

.row {
    display: flex;
}

.square { 
    background-color: #a9dce3;
    margin: 0.5px;
    flex: 1;
    border-radius: 5%;
}

.squarehover {
    background-color: #7689de;
    margin: 0.5px;
    flex: 1;
    border-radius: 5%;
}

.square:before {
    content:'';
    float:left;
    padding-top:90%;
}