body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    margin: auto;
}

.main {
    background-color: whitesmoke;
    display: flex; 

} 

.main .side {
    flex: 1 1 0%;
}

.header {
    padding: 10px;
    display: flex;
}

.header div{
    flex: 1 1 0%;
}

.button {
    background-color: #a9dce3;
    border: 2px solid #7689de;
    border-radius: 10px;
    color: #55629e;
    padding: 8px;
    text-align: center;   
    font-family: sans-serif;
    font-weight: 800; 
}

.main .sketch{
    border-color: 1px #7689de;
    flex: 1 0 auto;
}

.row {
    display: flex;
}

.square { 
    background-color: #a9dce3;
    height: 25px;
    width: 25px;
    margin: 1px;
    border: 0px #7689de;
    flex: 1 1 0%;
    border-radius: 5%;
}

.square:before {
    content:'';
    float:left;
    padding-top:100%;
}